ul {
    list-style: none;
}

.page-header {
    padding: 25px;
    width: 25%;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
}

.page-footer {
    padding: 25px;
    width: 25%;
    height: 50vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.page-content {
    padding: 25px;
    margin-left: 250px;
    position: relative;
    top: 0;
    float: left;
    height: auto;
    width: 75%;
}